<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="content-language" content="en-us">
    
    <title>{global.appName}</title>
    <meta name="description" content="{head.description}">

    <!-- Static Assets -->
    <link rel="apple-touch-icon" sizes="57x57" href="/staticAssets/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/staticAssets/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/staticAssets/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/staticAssets/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/staticAssets/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/staticAssets/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/staticAssets/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/staticAssets/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/staticAssets/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/staticAssets/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/staticAssets/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/staticAssets/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/staticAssets/favicons/favicon-16x16.png">
    <link rel="manifest" href="/staticAssets/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/staticAssets/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <script type="text/javascript" charset="utf-8" src="/staticAssets/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/staticAssets/resets.css" />
    <link rel="stylesheet" type="text/css" href="/staticAssets/app.css" />
    <link href='https://fonts.googleapis.com/css?family=Lemon' rel='stylesheet'>
    
  </head>

  <body class="{body.class}">
      <!-- Page Wrapper -->
      <div class="wrapper">

        <!-- Header -->
        <div class="header">
          <!-- Logo -->
          <a class="logo" href="/">
            <img src="/staticAssets/logo.png" alt="Logo" />
          </a>
          <!-- Navigation -->
          <ul class="menu">
            <li class="loggedIn loggedOut">
              <a href="/">Home</a>
            </li>
            <li class="loggedOut">
              <a href="/account/create">SignUp</a>
            </li>
            <li class="loggedIn">
              <a href="/account/delete">SignOff</a>
            </li>
            <li class="loggedIn">
              <a href="/account/edit">Settings</a>
            </li>
            <li class="loggedIn">
              <a href="/orders">Orders</a>
            </li>
            <li class="loggedIn">
              <a href="/orders/menu">Menu</a>
            </li>
            <li class="loggedOut">
              <a href="/session/create">LogIn</a>
            </li>
            <li class="loggedIn" id="logoutButton">
              <a href="/session/deleted">LogOut</a>
            </li>
          </ul>
      
        </div>
