
  <!-- Page-Specific Content -->
  <div class="content">


  <h1>{head.title}</h1>
  <h2>Swifty and tasty, you remember !</h2>
  <div>{head.description}</div>
  <div><button class="placeOrder">Place Order</button></div>
  
  <div class="contentError"></div>
  
  <div id="myMenu">
      <!-- <div class="pizza">
          <img src="/staticAssets/pizzas/${pizza}.jpg" alt=""></img>
          <div class="pizzaSelect">
            <div class="pizzaName">${pizza}</div>
            <button class="pizzaOrderLess ${index} ${pizza} ">order less</button>
            <div class="pizzaOrdered">Ordered : <div class="pizzaOrdered${index}">0</div></div>
            <button class="pizzaOrderMore ${index} ${pizza} ">order more</button>
          </div>
          <div class="spacerBig"></div>
        </div> -->
  </div>

</div>

